body {
background-color: rgb(171, 200, 243);
}
h1 {
color:rgb(236, 245, 111);
margin-left: 5px ;
}
p{
    color:rgba(241, 179, 85, 0.774);
    margin-left: 30px ;
    } 
h2{
    color: rgb(36, 148, 45);
    margin-left: 15px ;
}
mark{
    background-color: limegreen;  
}